<div class="container-fluid">
        
  <!-- Start: Header -->
  <div class="row hero-header" id="home">
    <div class="container">
      <h1 class="text-center question-header">Questions</h1>
      <h3 class="text-center qeustion-hash">Total: <%= @questions.count %></h3>
    </div>
  </div>
  <!-- End: Header -->

</div>


<!-- Start: Schedule -->
<div class="container">
  <div class="row me-row schedule" id="schedule">

    <% @questions.each do |question| %>
    <div class="col-md-8 col-md-offset-2">
      <div class="media">
        <div class="media-left">
          <a href="#">
            <img class="media-object" src="http://placehold.it/150x150" alt="...">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading"><%= link_to question.title, question %></h4>
          <p>#<%= question.hashtag %></p>
          <p>Very brief description </p>
        </div>
      </div>
    </div>
    <% end %>

  </div>
</div>
