<div class="container-fluid">
        
  <!-- Start: Header -->
  <div class="row hero-header questions-list" id="home">
    <div class="container narrow">
      <div class="col-sm-12 col-md-6">
		    <h1 class="question-header">Sign up to be a mentor</h1>
		    <h3>Inspire and guide</h3>
		    <h4>Number of mentors: 20</h4>
		    <a href="#" class="btn btn-lg btn-red">Count me in! <span class="ti-arrow-right"></span></a>
			</div>
			<div class="col-sm-12 col-md-6">
				<img src="<%= asset_path "earthdude.png" %>" alt="illustration" class="landing-earth">
			</div>
    </div>
  </div>
  <!-- End: Header -->
</div>

